<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Technical Excellence and Innovation</h4>
                    <p class="text-muted">Leverage years of cutting edge industry expertise, senior management skills and best practices to provide innovative and cutting-edge solutions. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-handshake-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Customer Satisfaction</h4>
                    <p class="text-muted">Unwavering focus, effective communication, and transparent feedback. We seek to exceed your expectations every time.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bullseye fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Business Development and Market Expansion</h4>
                    <p class="text-muted">Identify target markets, differentiate yourself from competitors, and land prospective clients.</p>
                </div>
            </div>
        </div>
    </section>